<% if model.errors.any? %>
<div class="error-alert">
  <ul>
  <%# <% if model.error_messages.include?()%> %>
    <% model.errors.full_messages.each do |message| %>
    <li class='error-message'><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
